img {
    max-width: unset;
}

footer {
    margin-top: 0 !important;
    display: none !important;
}

.interactiveMap--container {
    height: calc(100dvh - 4.5rem);
    overflow: hidden;
    position: relative;
    margin-top: 4.5rem;
}