.richTextContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.richTextContent h2 {
    font-weight: 700;
    font-size: 2rem;
    color: var(--color-heading);
    font-family: var(--font-heading);
}

.richTextContent h3 {
    font-weight: 700;
    font-size: 1.875rem;
    color: var(--color-heading);
    font-family: var(--font-heading);
}

.richTextContent h4 {
    font-weight: 700;
    font-size: 1.25rem;
    color: var(--color-heading);
    font-family: var(--font-body-serif);
    margin-top: 1rem;
}

.richTextContent p,
.richTextContent li,
.richTextContent dt,
.richTextContent dd {
    font-family: var(--font-body-serif);
    font-weight: 500;
    line-height: 1.8;
    font-size: 1.125rem;
    color: var(--colorMainText);
}

.hasInfobox .richTextContent {
    display: block;
}

.hasInfobox .richTextContent > *:not(:first-child) {
    margin-top: 1rem;
}

.richTextContent ul {
    list-style-type: disc;
    padding-left: 1rem;
}

.richTextContent ul > li > ul {
    list-style-type: circle;
    padding-left: 1rem;
}

@media screen and (max-width: 640px) {
    .hasInfobox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}