@import 'tailwindcss';

:root {
    --colorBackground: #f4f1eb;
    --colorHeading: #7c1f1f;
    --colorMainText: #2b2b2b;
    --colorSecondary: #3a4f41;
    --colorSurface: #E6D1B9;
    --colorBorder: #908a7d;
}

@theme inline {
    --color-background: var(--colorBackground);
    --color-heading: var(--colorHeading);
    --color-mainText: var(--colorMainText);
    --color-secondary: var(--colorSecondary);
    --color-surface: var(--colorSurface);
    --color-border: var(--colorBorder);
    --font-sans: var(--font-body-sans);
    --font-serif: var(--font-body-serif);
    --font-heading: var(--font-heading);
    --font-subheading: var(--font-subheading);
    --font-handwriting: var(--font-handwriting);
}

body {
    background: var(--color-background);
    color: var(--color-mainText);
    font-family: var(--font-sans);
}